<section class="about-show">

<header class="page-header">
  <h1>About Us</h1>
</header>

<p>At <strong>Jungle</strong>, we aim to bring you the most product-like products on the market. Feel free to browse our wares!</p>

</section>
